/* Universal Styles */

body {
  font-family: "Merriweather", sans-serif;
  background-color: #F9F9F9;
  color: #6B7A62;
}

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

a {
  color: #9DD0F2;
}

a:hover{
  text-decoration: none;
  transition: color 0.5s;
}

li {
  padding-top: 5%;
}

/* Bootstrap Overrides */

.navbar-brand {
  height: 75px;
  width: auto;
}


.jumbotron {
  background-image: url("../images/desktopimg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 50px;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  background-color: #6B7A62;
}

.navbar a {
  color: #F9F9F9 !important;
}

.navbar a:hover{
  color: #9DD0F2 !important;
}

#showcase {
  margin-top: 50px;
}

/* About Section - Grid System */

.left-col {
  font-size: 32px;
}

.right-col {
  font-size: 14px;
}

/* Contact - Grid System */

#portfolio {
  padding-bottom: 3%;
}

#contact p {
  font-size: 24px;
  padding-top: 3%;
}

#social {
  width: 20%;
}

footer {
  background-color: #6B7A62;
  padding-bottom: 2%;
}

footer p{
  font-size: 18px !important;
  text-align: center;
  color: #F9F9F9;
}
