/* Universal Styles */

body {
  font-family: "Merriweather", sans-serif;
}

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

/* Bootstrap Overrides */

.jumbotron {
  background-image: url("../images/desktopimg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 50px;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

#showcase {
  margin-top: 50px;
}

/* About Section - Grid System */

.left-col {
  font-size: 32px;
}

.right-col {
  font-size: 14px;
}

/* Contact - Grid System */

#portfolio {
  padding-bottom: 3%;
}

#contact p {
  font-size: 24px;
  padding-top: 3%;
}

#social {
  width: 30%;
  padding-bottom: 5%;
}

footer {
  background-color: lightgray;
}
